SUPABASE_URL="https://rpdxzrblnfdqnueehxvf.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwZHh6cmJsbmZkcW51ZWVoeHZmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUzNTYxNCwiZXhwIjoyMDkyMTExNjE0fQ.mj1dJAVO8Iurg7keHkL5p7iDn4TSIdK7-0u8M8mEB8g"